.title {
  padding: 430px 0;
  background: rgb(251,199,59);
  background: linear-gradient(295deg, rgba(251,199,59,1) 52%, rgba(102,102,102,1) 53%);
  position: relative;

  h1 {
    text-align: center;
    color: $black;
    font-size: 150px;
    font-family: 'Righteous', cursive;
  }

  h3 {
    color: $grey;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  @include breakpoint (tablet) {
    padding: 290px 0;
  }

  @include breakpoint (phone) {
    padding: 200px 0;

    h1 {
      font-size: 80px;
      padding-bottom: 14px;
    }

    h3 {
      font-size: 14px;
      margin: 0 auto;
      width: 80%;
    }

    .logo {
      top: 20px;
      left: 26px;

      img {
        height: 32px;
      }
    }
  }
}